.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

/* @media (max-width:1024px) {
  .app {
    padding: 2rem;
  }
}


@media (max-width:768px) {
  .app {
    padding: 1.5rem;
  }
}

@media (max-width:480px) {
  .app {
    padding: 1.2rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .app {
    padding: 1.2rem;
  }
} */