.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media (max-width:1024px) {
  .app {
    height: 100vh;
    padding: 2rem;
  }
}


@media (max-width:768px) {
  .app {
    height: 100vh;
    padding: 1.5rem;
  }
}

@media (max-width:480px) {
  .app {
    height: 100vh;
    padding: 1.2rem;
  }
}
