.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.forGoogleAuth {
  font-weight: 400;
  background-color: var(--color-light--2);
  color: #1f1f1f;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.mobileBack {
  display: none;
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.landscape {
  display: none;
}

@media (max-width:640px) {
  .btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 0.6rem 1.2rem; /* Уменьшаем отступы */
    font-size: 1.3rem; /* Уменьшаем размер шрифта */
  }

  .position {
    bottom: 2rem; /* Уменьшаем расстояние до низа экрана */
    font-size: 1.2rem; /* Уменьшаем шрифт для позиции */
  }

  .mobileBack {
    display: block;


  }
}

/* Адаптивные кнопки для экранов до 480px */
@media (max-width: 480px) {
  .btn {
    padding: 0.5rem 1rem; /* Ещё меньше отступы */
    font-size: 1.2rem; /* Ещё меньше размер шрифта */
  }

  .position {
    bottom: 1.5rem;
    font-size: 1.1rem;
  }
}

/* @media (max-width: 1024px) and (orientation: landscape) {
  .btn {
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem; 
  }

  .position {
    bottom: 1.5rem;
    font-size: 1.1rem;
  }

  .landscape {
    display: block;
  }
} */