.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}



.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.mobile {
  display: flex;
}

.footer {
  height: 50px;
  margin-top: auto;
}

@media (max-width:1024px) {
  .sidebar {
    flex-basis: 38rem;
    padding: 3rem 4rem 3.5rem 4rem;
  }
}

@media (max-width:768px) {
  .mobile {
    display: none;
  }

  .sidebar {
    flex-basis: 100%;
    width: 100%;
    padding: 3rem 3rem;
  }
}

@media (max-width:480px) {

  .sidebar {
    flex-basis: 100%;
    width: 100%;
    padding: 3rem 1rem;
  }
}

/* @media (max-width: 1024px) and (orientation: landscape) {

  .mobile {
    display: none;
  }

  .sidebar {
    flex-basis: 100%;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding: 3rem 1rem;
  }

  .sidebar div {
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
} */
