.formRight {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  /* width: 48rem; */
  width: 80%;
  margin: 8rem auto;
}


.formHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.formMessage {
  color: #ff4545;
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}


.formRight h2 {
  font-size: 32px;
}

@media (max-width:640px) {
  .formRight {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    /* Different from other form */
    /* width: 48rem; */
    width: 80%;
    margin: 8rem auto;
  }
  
  .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}