.spinnerFullpage {
  display: flex;
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .spinnerFullpage {
    margin: 1rem;
    height: calc(100vh - 2rem);
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .spinnerFullpage {
    margin: 1rem;
    height: calc(100vh - 2rem);
  }
}